@font-face {
    font-family: 'DePixelKlein';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Depixelklein.woff') format('woff');
}
@font-face {
    font-family: 'BergenText';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/BergenText-Bold.woff') format('woff');
}
@font-face {
    font-family: 'BergenText';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/BergenText-Regular.woff') format('woff');
}
@font-face {
    font-family: 'BergenText';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/BergenText-SemiBold.woff') format('woff');
}
/*  RESET */
/*________ RESET ________*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ________ SCROLLBAR ________ */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}
*::-webkit-scrollbar-track:active {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.3);
}
/* ________ SCROLLBAR WINDOW CONTENT ________ */
.window-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}
.window-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.window-content::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.3);
}
/* ________ SCROLLBAR WINDOW DARK CONTENT ________ */
.window.dark .window-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}
.window.dark .window-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.window.dark .window-content::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.1);
}
/* ________ SCROLLBAR DARK ________ */
body.dark {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) #6a6683;
}
body.dark * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) #6a6683;
}
body.dark::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #6a6683;
}
body.dark::-webkit-scrollbar-track:hover {
    background-color: #6a6683;
}
body.dark::-webkit-scrollbar-track:active {
    background-color: #6a6683;
}
body.dark::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}
body.dark::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
body.dark *::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}
/* ________ SCROLLBAR DARK WINDOW CONTENT ________ */
body.dark .window-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
body.dark .window-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
body.dark .window-content::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6);
}
/* ________ SCROLLBAR DARK WINDOW DARK CONTENT ________ */
body.dark .window.dark .window-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}
body.dark .window.dark .window-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
body.dark .window.dark .window-content::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.1);
}

:root {
    /*________ FONTS ________*/
    --primary-font: 'BergenText', sans-serif;
    --secondary-font: 'DePixelKlein', sans-serif;
    --ft-size-title: 50px;
    --ft-size-title-maximized: 65px;
    --ft-size-subtitle: 35px;
    --ft-size-subtitle-maximized: 50px;
    --ft-size-small-title: 25px;
    --ft-size-small-title-maximized: 40px;
    --ft-size-text: 20px;
    --ft-size-text-maximized: 35px;
    --ft-size-small-text: 15px;
    --ft-size-small-text-maximized: 30px;
    --ft-size-tiny-text: 12px;
    --ft-size-tiny-text-maximized: 27px;
    /*________ LIGHT MODE ________*/
    --primary-color: #5674ca;
    --primary-color-rgba04: rgba(86, 116, 202, 0.4);
    --secondary-color: #3AC762;
    --tertiary-color: #e7f4f7;
    --quaternary-color: #77b3fe;
    /*________ DARK MODE ________*/
    --quinary-color: #302b3e;
    --senary-color: #212121;

    /*________ OTHER ________*/
    --cursor-pointer: url('../images/icons/pointer.png'), auto;
    --cursor-default: url('../images/icons/default.png'), auto;

    --white: #fff;
    --black: #191919;
}
* {
    cursor: var(--cursor-default);
}
a:hover, button:hover, input:hover  {
    cursor: var(--cursor-pointer);
}

*::selection {
    background-color: var(--primary-color);
    color: var(--white);
}
body {
    transition: all 0.5s;
    background: url('../images/background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
body.dark {
    transition: all 0.5s;
    background: url('../images/background-dark.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid {
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100dvw;
    height: 100dvh;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}
header {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    z-index: 2;
}
.header-logo {
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s;
}
.header-logo img {
    pointer-events: none;
}
.header-logo:hover {
    cursor: var(--cursor-pointer);
    transition: all 0.3s;
    transform: scale(0.95);
}
.header-logo:active {
    transition: all 0.3s;
    transform: scale(0.8);
}
body.dark .header-logo {
    filter: invert(100%);
}
header nav ul {
    gap: 30px;
}
header nav {
    visibility: visible;
    opacity: 1;
    position: relative;
    gap: 30px;
}
header nav ul a:hover {
    transition: all 0.3s;
    color: var(--white);
}
header nav ul a {
    z-index: 1;
    font-size: 15px;
    font-weight: 800;
    font-family: var(--primary-font);
    text-decoration: none;
    transition: all 0.3s;
    color: var(--black);
}
header .hover {
    cursor: var(--cursor-pointer);
    pointer-events: none;
    padding: 5px 15px;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 20px;
    background: var(--primary-color);
    transition: all 0.3s;
}
body.dark .hover {
    background: var(--quinary-color);
}
body.dark nav ul a {
    color: var(--white);
}
.theme-switch {
    transition: 0.2s;
    position: relative;
    border-radius: 20px;
    width: 27px;
    height: 50px;
}
.theme-switch input {
    cursor: var(--cursor-pointer);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tertiary-color);
}
.theme-switch-slider {
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 25.5px;
    left: 3.5px;
    width: 20px;
    height: 20px;
    background: var(--white);
    border-radius: 50%;
    transition: 0.2s;
}
.theme-switch-background {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--quinary-color);
    border-radius: inherit;
    transition: all 0.5s;
}
.theme-switch:active {
    transform: scale(0.9);
    transition: 0.2s;
}
.theme-switch input:checked ~ .theme-switch-slider {
    transform: translateY(-22.5px);
}
.theme-switch input:checked ~ .theme-switch-background {
    background-color: var(--primary-color);
}
.theme-switch-light-icon {
    cursor: var(--cursor-pointer);
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 12.5px;
    height: 12.5px;
}
.theme-switch-dark-icon {
    cursor: var(--cursor-pointer);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12.5px;
    height: 12.5px;
}
#menu-button {
    padding: 22.5px 15px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background: none;
    border: none;
    outline: none;
    cursor: var(--cursor-pointer);
    display: none;
    gap: 8px;
}
#menu-button:hover {
    cursor: var(--cursor-pointer);
    filter: brightness(200%);
    transition: all 0.3s;
}
#menu-button:active {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}
#menu-button span {
    will-change: transform;
    width: 30px;
    border-radius: 2px;
    height: 5.5px;
    background: var(--black);
    transition: all 0.3s;
}
#menu-button span:first-of-type {
    width: 30px;
}
body.dark #menu-button span {
    background: var(--white);
}
.program {
    outline: none;
    position: fixed;
    z-index: 2;
    transition: all 0.3s;
}
.program.open {
    z-index: 3;
}
.program:focus {
    outline: none;
}
.program.maximized {
    transition: all 0.4s;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.program.maximized .window {
    width: 85vw;
    height: 90vh;
}
.program.open .window {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.program.open.active .window {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

body.dark .program.open .window {
    box-shadow: 0px 0px 2.5px 0px rgba(255, 255, 255, 0.3);
}
body.dark .program.open.active .window {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
}

.program-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.program.open .file {
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.4s;
}
.file {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    box-sizing: content-box;
    width: 100px;
    gap: 10px;
    color: var(--primary-font);
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background: none;
    cursor: var(--cursor-pointer);
    transition: all 0.4s;
}
.file.hidden {
    visibility: hidden;
}
.file img, .file p {
    pointer-events: none;
}
body.dark .file {
    color: var(--white);
}
.program.pos-1 {
    top: 50%;
    left: 50%;
}
.program.pos-2 {
    top: 50%;
    left: 50%;
}
.program.pos-3 {
    top: 5.5%;
    left: 80%;
}
.file:hover {
    cursor: var(--cursor-pointer);
    transition: all 0.2s;
    background: rgba(0, 0, 0, 0.1);
}
.file:active {
    transition: all 0.2s;
    transform: translate(-50%, -50%) scale(0.9);
}
.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s;
    transform: translate(-50%, -50%) scale(0);
    background: var(--tertiary-color);
    border-radius: 25px;
    overflow: hidden;
}
.window.dark {
    background: var(--black);
}
body.dark .window {
    background: var(--quinary-color);
}
body.dark .window.dark {
    background: var(--black);
}
.program.open .window {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
    transition: all 0.4s;
}

.window-nav {
    box-sizing: border-box;
    padding: 0px 20px;
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
}
body.dark .window-nav {
    background-color: var(--senary-color);
}
.window-content {
    position: relative;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--black);
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 40px);
    margin-bottom: 1px;
    background-color: var(--tertiary-color);
}
.window-content-container {
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 30px 10px;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: radial-gradient(circle, rgba(255,255,255,0) 50%, rgba(0, 0, 0, 0.1) 100%);
    gap: 30px;
}
body.dark .window-content-container {
    opacity: 1;
    background: radial-gradient(circle, rgba(255,255,255,0) 10%, rgba(0,0,0, 0.4) 100%);
}
.window.dark .window-content-container {
    opacity: 1;
    background: radial-gradient(circle, rgba(255,255,255,0) 30%, rgba(0,0,0, 0.9) 100%);
}
.window-content-layout {
    word-wrap: break-word;
    font-size: var(--ft-size-text);
    width: 90%;
}


.program.maximized .window-content .window-content-layout {
    font-size: var(--ft-size-text-maximized);
}
.window-content-layout pre {
    width: 100%;
    word-wrap: break-word;
}
.window-content-layout img {
    user-select: none;
    pointer-events: none;
}
.window-content-layout-image-text {
    gap: 20px;
}
.window-content-layout-image, .window-content-layout-image-text img {
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: auto;
}
.window-content-layout iframe {
    margin-top: -10px;
}
.window-content-layout h1 {
    line-height: normal;
    text-align: center;
    width: 95%;
    font-size: var(--ft-size-title);
    font-weight: 800;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}
.program.maximized .window-content-layout h1 {
    font-size: var(--ft-size-title-maximized);
}
.window-content-layout h2 {
    font-size: var(--ft-size-subtitle);
    font-weight: 800;
}
.program.maximized .window-content-layout h2 {
    font-size: var(--ft-size-subtitle-maximized);
}
.window-content-layout h3 {
    font-size: var(--ft-size-small-title);
    font-weight: 600;
}
.program.maximized .window-content-layout h3 {
    font-size: var(--ft-size-small-title-maximized);
}
.window-content-layout strong {
    word-break: keep-all;
    word-wrap: normal;
    font-weight: 600;
    box-sizing: border-box;
    color: var(--white);
    padding: 1px 5px;
    margin: 5px 5px;
    background: var(--primary-color);
}
.window-content-layout a:not(.clickable-icon, .primary-link, .secondary-link, .tertiary-link) {
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 0px 5px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
    color: var(--white);
    background: var(--primary-color);
    box-shadow: inset 0px 0px 0px 0px var(--primary-color);
}
.window-content-layout a:not(.clickable-icon, .primary-link, .secondary-link, .tertiary-link):hover {
    transition: all 0.3s;
    background: none;
    box-shadow: inset 0px 0px 0px 2px var(--primary-color);
    color: var(--primary-color);
}
.primary-link, .secondary-link, .tertiary-link {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 0px 5px;
    max-width: 350px;
    min-width: 200px;
    max-height: 75px;
    min-height: 55px;
    text-decoration: none;
    transition: all 0.3s;
    color: var(--white);
    transform: translate(-50%, -50%);
}
.window-content-layout ul, .window-content-layout ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    list-style-image: url('../images/icons/list.svg');
}
.window-content-layout ul li, .window-content-layout ol li {
    width: 50%;
    margin: 10px 0px;
}
.primary-link.no-translate, .secondary-link.no-translate, .tertiary-link.no-translate {
    transform: none;
}
.primary-link.no-translate:hover, .secondary-link.no-translate:hover, .tertiary-link.no-translate:hover {
    transform: none;
}
.primary-link {
    min-height: 80px;
    max-height: 105px;
    max-width: 350px;
    min-width: 200px;
    background: url('../images/icons/primary-link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: var(--secondary-font);
}
.secondary-link {
    background: var(--primary-color);
}
.tertiary-link {
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 0px 5px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    color: var(--white);
    background: var(--primary-color);
    box-shadow: inset 0px 0px 0px 0px var(--primary-color);
}
.tertiary-link:hover {
    transition: all 0.3s;
    background: none;
    box-shadow: inset 0px 0px 0px 2px var(--primary-color);
    color: var(--primary-color);
}
.primary-link:hover, .secondary-link:hover {
    transition: all 0.3s;
    transform: translate(-50%, -50%) scale(1.1);
}
.primary-link:active, .secondary-link:active {
    transition: all 0.3s;
    transform: translate(-50%, -50%) scale(0.9);
}
.clickable {
    margin: 0px 10px;
    gap: 10px;
    width: 100px;
    height: 80px;
}
.clickable-icon {
    cursor: var(--cursor-pointer);
    transition: all 0.2s;
    background: transparent;
    border: none;
    width: 55px;
    height: 55px;
    box-shadow: transparent;
}
.clickable-icon:hover {
    background: none;
    box-shadow: none;
    transition: all 0.2s;
    transform: scale(1.1);
}
.clickable-icon:active {
    transition: all 0.2s;
    transform: scale(0.9);
}
.clickable-icon img {
    user-select: none;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.window-content-layout-image-text.open-file {
    width: 50%;
    border: none;
    background: none;
}
.clickable p {
    width: 100%;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border: none;
    user-select: none;
    font-size: var(--ft-size-tiny-text);
    font-family: var(--primary-font);
    line-height: normal;
}
.no-translate {
    transform: none;
}
.program.maximized .clickable p {
    font-size: var(--ft-size-tiny-text-maximized);
}
body.dark .clickable p {
    color: var(--white);
}
body.dark .window-content-layout a:not(.clickable-icon, .primary-link, .secondary-link) {
    color: var(--quinary-color);
    background: var(--tertiary-color);
    box-shadow: inset 0px 0px 0px 0px var(--tertiary-color);
}
body.dark .window-content-layout a:not(.clickable-icon, .primary-link, .secondary-link):hover {
    background: none;
    box-shadow: inset 0px 0px 0px 2px var(--tertiary-color);
    color: var(--tertiary-color);
}
.window.dark .window-content {
    color: var(--white);
    background-color: var(--black);
}
body.dark .window-content {
    color: var(--white);
    background-color: var(--quinary-color);
}
body.dark .window.dark .window-content {
    background-color: var(--black);
}
.window-line {
    border-radius: 5px;
    height: 5px;
    width: 60%;
    background-color: var(--tertiary-color);
}
.window-buttons {
    gap: 10px;
}
.window-button {
    transition: all 0.2s;
    width: 15px;
    height: 15px;
    background: none;
    border: none;
}
.window-button:hover {
    cursor: var(--cursor-pointer);
    transition: all 0.2s;
    transform: scale(1.2);
}
.window-button:active {
    transition: all 0.2s;
    transform: scale(0.8) rotate(180deg);
}
.close {
    position: relative;
    cursor: var(--cursor-pointer);
}
.close div {
    cursor: var(--cursor-pointer);
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: var(--tertiary-color);
    border-radius: 2px;
}
.close div:first-child {
    transform: rotate(45deg);
}
.close div:last-child {
    width: 15.5px;
    transform: rotate(-45deg);
}
.minimize {
    height: 5px;
    width: 14px;
    border-radius: 2px;
    background: var(--tertiary-color);
}
.maximize {
    height: 13px;
    width: 13px;
    border-radius: 4px;
    background: var(--tertiary-color);
}
/*________SIZES________*/
.window.tiny {
    width: 300px;
    height: 150px;
}
.window.very-small {
    width: 300px;
    height: 200px;
}
.window.small {
    width: 325px;
    height: 400px;
}
.window.medium {
    width: 450px;
    height: 400px;
}
.window.big {
    width: 650px;
    height: 400px;
}
.window.very-big {
    width: 650px;
    height: 450px;
}
.window.huge {
    width: 750px;
    height: 550px;
}

/*_________ RESPONSIVE _________*/
@media screen and (max-width:990px) and (min-width:0px) {
    /*_________ HEADER _________*/
    #menu-button {
        display: flex;
    }
    header {
        z-index: 999;
    }
    header nav.flex-center-center {
        visibility: hidden;
        opacity: 0;
    }
    header nav ul.flex-center-center {
        text-align: center;
        background: var(--primary-color);
        border-radius: 10px;
        padding: 15px;
        position: fixed;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 40vh;
        flex-direction: column;
        gap: 15px;
    }
    body.dark header nav ul {
        background: var(--quinary-color);
    }
    body {
        box-sizing: border-box;
        padding: 125px 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 100vh;
        overflow-y: scroll;
        gap: 25px;
    }
    header nav ul a {
        font-size: 20px;
        color: var(--white);
        padding: 5px 15px;
        box-sizing: border-box;
        border-radius: 15px;
        -webkit-tap-highlight-color: transparent;
    }
    header nav ul a:active {
        background: var(--quinary-color);
    }
    body.dark header nav ul a:active {
        background: var(--senary-color);
    }
    header .hover {
        display: none;
    }
    body .program {
        width: 100vw;
        z-index: 2;
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body .program.open {
        margin: 0px;
    }
    .program .program-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
    }
    .program .window.flex-start-center {
        opacity: 1;
        transform: scale(1);
        position: unset;
        width: 90%;
        height: auto;
    }
    .program.open:focus {
        outline: none;
    }
    .program.open.active .window.flex-start-center {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
    body.dark .program.open.active .window.flex-start-center {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    }
    footer {
        z-index: 1;
        opacity: 0.3;
        top: 95%;
        font-size: 12px;
        padding: 0px 25px;
        box-sizing: border-box;
        width: 100%;
        height: 125px;
    }
    .footer-links {
        flex-wrap: wrap;
        gap: 5px;
    }
    .footer-links a { 
        -webkit-tap-highlight-color: transparent;
    }
}
.appear {
    animation: appear 0.3s ease-in-out forwards;
}
.disappear {
    animation: disappear 0.3s ease-in-out forwards;
}
/* ANIMATIONS */
/*________ APPEAR ________*/
@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
/*________ DISAPPEAR ________*/
@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/* ORIENTATION LANDSCAPE */
@media screen and (max-width:990px) and (min-width:0px) and (orientation:landscape) {
    header nav ul.flex-center-center {
        width: 50%;
        height: 50vh;
        gap: 10px;
    }
}
footer {
    font-size: 10px;
    font-family: var(--primary-font);
    text-align: center;
    transition: all 0.5s;
    opacity: 0;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(25,25,25,1) 50%, rgba(25,25,25,1) 100%);
    color: var(--white);
}
footer:hover {
    transition: all 0.5s;
    opacity: 0.4;
}
body.dark footer:hover {
    transition: all 0.5s;
    opacity: 0.5;
}
.footer-links {
    gap: 20px;
}
.footer-links a {
    font-size: 12px;
    font-weight: 800;
    font-family: var(--primary-font);
    text-decoration: none;
    transition: all 0.3s;
}
.footer-links a:hover, .footer-links a:visited:hover {
    transition: all 0.3s;
    color: var(--primary-color);
}
.footer-links a:active {
    transition: all 0.3s;
    transform: scale(0.8);
}

.footer-links a, .footer-links a:visited {
    color: var(--white);
}